/******************
    User custom CSS
    ---------------

    In this file you can add your own custom CSS
    It will be loaded last, so you can override any other property.
    Also, it will never be updated. So if you inheritate a core template and just add here some CSS, you'll still benefit of all the updates
*/

.navbar-default ul.navbar-right li{
    margin: 10px;
}

div.group-container div.group-title{
    position:relative;
    border-radius: 0px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 0px;
    background: #f5f5f5;
    padding-bottom: 6px;
    margin-bottom: 50px;
}

div.group-container div.group-title:after {
    content: " ";
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    left: 0px;
    z-index: -1;
    width: 100%;
    background: #f5f5f5;
    border-bottom: 3px solid #CC0000;
    border-right: 20px solid #CC0000;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
    box-sizing: content-box;
}


body div.top-container {
    margin-top: 0px;
}

body div.top-container .container-fluid {
    padding: 0px;
}

body div.top-container .container-fluid .progress {
    border-radius: 0px;

}

.question-container {
    border-color: #dbdbdb;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.question-container .question-text .ls-label-question, .question-text .ls-label-question h4 {
    font-weight: bold;
    font-size: 16px;
}

.question-container .question-text .ls-label-question span{
    font-weight: normal;
}

.question-container .question-valid-container .ls-question-help{
    padding: 4px;
    padding-left: 20px;
    background-color: #eee ;
    color: #666;
    text-align:left;
}

.question-container .answer-container{
    border: 0px;
}

.question-container .question-valid-container .ls-question-mandatory{
    text-align:left;
}

#ajax-loading.active{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 10000;
}

#ajax-loading .sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

#ajax-loading .sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#ajax-loading .sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
#ajax-loading .sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
#ajax-loading .sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
#ajax-loading .sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
#ajax-loading .sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
#ajax-loading .sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
#ajax-loading .sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
#ajax-loading .sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
#ajax-loading .sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
#ajax-loading .sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
#ajax-loading .sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
#ajax-loading .sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
#ajax-loading .sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
#ajax-loading .sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
#ajax-loading .sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
#ajax-loading .sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
#ajax-loading .sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
#ajax-loading .sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
#ajax-loading .sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
#ajax-loading .sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
#ajax-loading .sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
#ajax-loading .sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
#ajax-loading .sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}

.ls-answers tbody .answertext {
    text-align: left;
}
