{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.



    (¯`·._.·(¯`·._.· Group Name  ·._.·´¯)·._.·´¯)

    Presentation of the group name

    NOTE: see views/subviews/survey/group.twig comments for more infos
#}

<!-- Group Name -->
{% if aGroup.showgroupinfo == 'N' or aGroup.showgroupinfo == 'B' %}
    <div class="{{ aSurveyInfo.class.grouptitle }} row" {{ aSurveyInfo.attr.grouptitle }} >
        <h2>{{ processString(aGroup.name) }}</h2>
    </div>
{% endif %}
